<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Books</title>
</head>
<body>
    <h1>Your Book Collection</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }} 
                ({{ book.page_count }} pages, Rating: {{ book.average_rating }})
                <img src="{{ book.thumbnail_url }}" alt="Thumbnail">
                <a href="{{ url_for('delete_book', book_id=book.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
